<template>
<b-navbar toggleable="md" type="dark" variant="info" fixed="top" id="nav">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

  <b-navbar-brand to="/">Goods</b-navbar-brand>

  <b-collapse is-nav id="nav_collapse">

    <b-navbar-nav>
      <b-nav-item to="/" exact>Home</b-nav-item>
      <b-nav-item v-if="user" to="/merchant">Merchants</b-nav-item>
    </b-navbar-nav>

    <!-- Right aligned nav items -->
    <b-navbar-nav class="ml-auto">
      <b-nav-item-dropdown v-if="user && user.isAdmin" right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          Admin
        </template>
        <b-dropdown-item to="/admin/users">Users</b-dropdown-item>
      </b-nav-item-dropdown>

      <b-nav-item-dropdown v-if="user && user.isStore" right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          Your Store
        </template>
        <b-dropdown-item v-if="user.isStore" to="/merchant-profile">Merchant Profile</b-dropdown-item>
        <b-dropdown-item v-if="user.isStore" to="/store/orders">Orders Received</b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item-dropdown v-if="user" right>
        <!-- Using button-content slot -->
        <template slot="button-content">
          Account
        </template>
        <b-dropdown-item to="/profile">Your Profile</b-dropdown-item>
        <b-dropdown-item to="/orders">Your Orders</b-dropdown-item>
        <b-dropdown-item v-if="!user.isStore" to="/register-store">Become a Merchant</b-dropdown-item>
        <b-dropdown-item v-on:click="logoutNavbar()">Signout</b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item v-if="!user" to="/login">Login</b-nav-item>
      <b-nav-item v-if="user" to="/cart">Cart ({{user.cart.length}})</b-nav-item>
    </b-navbar-nav>

  </b-collapse>
</b-navbar>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'app',
  computed: {
    ...mapState('auth', ['user'])
  },
  methods: {
    logoutNavbar() {
      this.logout()
      .then(() => {
        this.$router.push('/');

        this.$swal("Logged out!", "You were logged out successfully.", "success", {
          buttons: false,
          timer: 2000
        });
      })
    },
    ...mapActions('auth', ['logout'])
  }
}
</script>

<style>
#nav {
  background-color: #863030 !important;
}
body {
    padding-top: 70px;
}
</style>
