<template>
  <b-container v-if="user">
    <b-row>
      <b-col class="red-bg-col">
        <b-table id="cart" striped bordered small hover :items="user.cart" :fields="fields" :busy="isBusy">
          <div slot="table-busy" class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
          <template slot="product_name" slot-scope="data">
              {{ getListingInStore(data.item.listing).name }}
          </template>

          <template slot="merchant" slot-scope="data">
              {{ getUserInStore(getListingInStore(data.item.listing).merchant).store.name }}
          </template>

          <template slot="quantity" slot-scope="data">
              {{ data.item.quantity }}
          </template>

          <template slot="price" slot-scope="data">
              {{ formatPrice(getListingInStore(data.item.listing).price) }}
          </template>
        </b-table>
      </b-col>
    </b-row>
    <b-row align-h="end">
        <b-col cols="2">
            <p id="total">Cart Total: {{ (total/100).toLocaleString('en-US', {style:'currency', currency:'USD'}) }}</p>
        </b-col>
        <b-col cols="2">
            <b-button variant="outline-dark" v-b-modal.modal-confirm>Check out</b-button>
        </b-col>
    </b-row>
    <b-modal
      id="modal-confirm"
      ref="modal-confirm"
      title="Confirm Order"
      @ok="handleOk"
    >
    Are you sure you want to place an order?
    </b-modal>
  </b-container>
</template>

<style lang="scss">
.red-bg-col {
  background-color: rgba(230, 194, 194, .2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
#cart {
    margin-top: 10px;
}
#total {
    margin-top: 10px;
}
</style>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
export default {
  data: () => {
    return {
        isBusy: false,
        fields: [
          { key: "product_name", Label: 'Product Name' },
          { key: "merchant", Label: 'Merchant' },
          { key: "quantity", Label: 'Quantity' },
          { key: "price", Label: 'Price' }
        ]
    }
  },
  computed: {
      ...mapState('auth', ['user']),
      ...mapGetters('listing', { findListingsInStore: 'find', getListingInStore: 'get' }),
      ...mapGetters('users', { findUsersInStore: 'find', getUserInStore: 'get' }),
      total: function() {
        let ret = 0
        for (const orderItem of this.user.cart) {
          const listing = this.getListingInStore(orderItem.listing)
          ret += listing.price * orderItem.quantity
          console.log(ret)
        }
        return ret
      }
  },
  methods: {
    ...mapActions('listing', { findListings: 'find', getListing: 'get', deleteListing: 'remove', patchListing: 'patch' }),
    ...mapActions('users', { findUsers: 'find', getUser: 'get', deleteUser: 'remove', patchUser: 'patch' }),
    formatPrice(val) {
      val /= 100;
      return val.toLocaleString("en-US", {style:"currency", currency:"USD"});
    },
    handleOk(bvModalEvt) {
      bvModalEvt.preventDefault()
      this.$feathers.service("order").create({
        shippingAddress: {
          street: "414 NW 34th St",
          city: "Gainesville",
          state: "FL",
          zip: 32607
        },
        cart: this.user.cart,
        status: "Awaiting Shipment",
        user: this.user._id
      }).then(() => {
        this.user.cart = []
        this.$feathers.service("users").patch(this.user._id, { cart: this.user.cart })
        this.$nextTick(() => {
          this.$refs["modal-confirm"].hide()
        })
        this.$swal({
          icon: "success",
          title: "Order placed",
          text: "Your order has been placed!",
          buttons: false,
          timer: 2000
        })
        // this.$router.push('/orders')
      })
    },
  },
  async created() {
    this.isBusy = true
    for (const orderItem of this.user.cart) {
      await this.getListing(orderItem.listing)
      await this.getUser(this.getListingInStore(orderItem.listing).merchant)
    }
    this.isBusy = false
  }
}
</script>
