<template>
  <b-container>
    <b-row>
      <b-col class="col border-col">
        <h2 class="header-text">Discover</h2>
        <div v-for="user in topStores" :key="user._id">
          <b-card
            v-bind:title="user.store.name"
            img-alt="Image"
            img-top
            style="max-width: 20rem;"
            class="mb-2">
            <b-card-text>
              {{ user.store.description }}
            </b-card-text>
            <br />
            <b-button :to="'/merchant/' + user._id" href="#" variant="primary">Visit Store</b-button>
          </b-card>
        </div>
      </b-col>
      <b-col cols="6" class="red-bg-col col">
        <h2 class="header-text red-header">Connect</h2>
        <b-card v-for="status in statuses" :key="status.id" v-bind:title="status.merchant.name" class="connect-card">
          <b-card-text>
            {{ status.text }}
          </b-card-text>
          <br />
          <b-link v-bind:to="'merchant/' + status.merchant.id" class="card-link">Visit {{ status.merchant.name }}</b-link>
        </b-card>
      </b-col>
        <b-col class="col border-col">
          <h2 class="header-text">Enjoy</h2>
          <div v-for="listing in topListings" :key="listing._id">
            <b-card
              v-bind:title="listing.name"
              img-alt="Image"
              img-top
              style="max-width: 20rem;"
              class="mb-2">
              <b-card-text>
                <b>Sold by:</b> {{ getUserInStore(listing.merchant).store.name }}<br>
                <b>Description:</b> {{ listing.description }}
              </b-card-text>
              <br />
              <b-button v-b-modal="'modal-quantity-' + listing._id" variant="primary">Add to Cart</b-button>
            </b-card>
            <!-- Modal Component -->
            <b-modal
              v-bind:id="'modal-quantity-' + listing._id"
              v-bind:ref="'modal-quantity-' + listing._id"
              title="Enter quantity:"
              @ok="handleOk($event, {...form, listing: listing._id})"
              @shown="clearQuantity"
            >
              <form @submit.stop.prevent="handleSubmit($event, {...form, listing: listing._id})">
                <b-form-input v-model="form.quantity" placeholder="Enter quantity"></b-form-input>
              </form>
            </b-modal>
          </div>
        </b-col>
      </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  computed: {
      ...mapState('auth', ['user']),
      ...mapGetters('listing', { findListingsInStore: 'find', getListingInStore: 'get' }),
      ...mapGetters('users', { findUsersInStore: 'find', getUserInStore: 'get' }),
      topListings: function() {
        return this.findListingsInStore({ query: this.query }).data
      },
      topStores: function() {
        return this.findUsersInStore({ query: { ...this.query, isStore: true }}).data
      }
  },
  methods: {
    ...mapActions('listing', { findListings: 'find', getListing: 'get', deleteListing: 'remove', patchListing: 'patch' }),
    ...mapActions('users', { findUsers: 'find', getUser: 'get', deleteUser: 'remove', patchUser: 'patch' }),
    clearQuantity() {
      this.quantity = 1
    },
    handleOk(bvModalEvt, orderItem) {
      bvModalEvt.preventDefault()
      if (!this.quantity) {
        alert('Please enter a quantity')
      }
      else {
        this.handleSubmit(bvModalEvt, orderItem)
      }
    },
    handleSubmit(e, orderItem) {
      this.user.cart.push(orderItem)
      this.$feathers.service('users').patch(this.user._id, this.user).then(() => {
        this.$nextTick(() => {
          this.$refs['modal-quantity-' + orderItem.listing][0].hide()
        })
      }).then(() => {
        this.$swal({
          icon: "success",
          title: "Added to cart",
          text: "This item was added to your cart!",
          buttons: false,
          timer: 2000
        });
      })
    }
  },
  async created() {
    this.isBusy = false
    await this.findListings({ query: {} })
    await this.findUsers({ query: {} })
    this.isBusy = true
  },
  data: () => {
    return {
      isBusy: true,
      query: {
        $limit: 4
      },
      form: {
        quantity: 1,
      },
      businesses: [
        {
          merchant: {
            name: "Mai Kai",
            imageUrl: "http://img1.wsimg.com/isteam/ip/82376ce7-b46b-41d0-96b3-59e9f2e78778/MAI%20KAI%20Kava.jpg",
            id: 1
          },
          text: "Come try some Kratom tea before the FDA makes this shit illegal!"
        },
        {
          merchant: {
            name: "Publix",
            imageUrl: "https://i.imgur.com/LLDrbRc.jpg",
            id: 2
          },
          text: "Our prices are so high that we need a state trooper in our stores because we keep robbing you!"
        },
        {
          merchant: {
            name: "McDonald's",
            imageUrl: "https://i.imgur.com/M0d9tQa.jpg",
            id: 3
          },
          text: "Come get fat!"
        },
        {
          merchant: {
            name: "Taco Bell",
            imageUrl: "https://i.imgur.com/Ex2ZF5o.png",
            id: 4
          },
          text: "We're just happy to be the fourth business in this shithole of a town!"
        }
      ],
      statuses: [
        {
          merchant: {
            name: "Mai Kai",
            id: 1
          },
          text: "Open mic tonight at 8pm! Come do stuff!"
        },
        {
          merchant: {
            name: "Publix",
            id: 2
          },
          text: "We're also having an Open Mic Night, and we have no idea why!"
        },
        {
          merchant: {
            name: "McDonald's",
            id: 3
          },
          text: "He had a farm. On that farm he had multiple animals."
        }
      ],
      products: [
        {
          name: "Kratom - 20g",
          imageUrl: "https://www.phytoextractum.com/images/bali_kratom_powder.jpg",
          merchant: "Mai Kai",
          description: "Good for studying, good for sleeping, basically good for anything!",
          productID: 1
        },
        {
          name: "Chicken Tender Pub Sub",
          imageUrl: "https://cutpcdnwimages.azureedge.net/images/products/95000/098523-75x75-A.jpg",
          merchant: "Publix",
          description: "Better when it isn't on sale!",
          productID: 2
        },
        {
          name: "Whopper",
          imageUrl: "https://bk-ca-prd.s3.amazonaws.com/sites/burgerking.ca/files/03299-85%20DIG_Silo_Whopper_500x540_CR_1.png",
          merchant: "McDonald's",
          description: "Don't tell BK!",
          productID: 3
        },
        {
          name: "Nacho Fries",
          imageUrl: "https://www.tacobell.com/images/22182_grilled_steak_soft_taco_269x269.jpg",
          merchant: "Taco Bell",
          description: "We don't even know what they're made of!",
          productID: 4
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.connect-card {
  margin-top: 10px;
}
.header-text {
  margin-top: 3px;
}
.red-header {
  color: #9C5555;
}
.border-col {
  background-color: rgba(230, 194, 194, .75);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.red-bg-col {
  background-color: rgba(230, 194, 194, .1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.col {
  margin:5px;
  padding-bottom: 5px;
}
</style>
