<template>
  <b-container v-if="merchant" fluid class="page-container">
    <b-row>
      <b-col class="affix">
        <h2 class="merchant-name text-center">{{ merchant.store.name }}</h2>
        <b-img thumbnail src="https://picsum.photos/1024/400/?image=41" fluid alt="Responsive image"></b-img>
        <div>
          <b-card class="red-bg-col" id="bio" title="Bio">
            <b-card-text>
              {{ merchant.store.description }}
            </b-card-text>
          </b-card>
        </div>
      </b-col>
      <b-col cols="9">
        <h2 class="merchant-name text-center">Products</h2>
        <b-card-group deck class="row">
          <b-card v-for="listing in listings" :key="listing._id" class="item-card col-sm-3">
            <b-card-body class="d-flex flex-column">
              <h4 class="card-title">{{listing.name}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">{{(listing.price/100).toLocaleString('en-US', {style:'currency', currency:'USD'}) }} </h6>
              <p class="card-text">{{listing.description}}</p>
              <b-button v-b-modal="'modal-quantity-' + listing._id" variant="info" href="#" class="mt-auto">
                Add to Cart
              </b-button>
            </b-card-body>
            <!-- Modal Component -->
            <b-modal
              v-bind:id="'modal-quantity-' + listing._id"
              v-bind:ref="'modal-quantity-' + listing._id"
              title="Enter quantity:"
              @ok="handleOk($event, {...form, listing: listing._id})"
              @shown="clearQuantity"
            >
              <form @submit.stop.prevent="handleSubmit($event, {...form, listing: listing._id})">
                <b-form-input v-model="form.quantity" placeholder="Enter quantity"></b-form-input>
              </form>
            </b-modal>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState('auth', ['user']),
    ...mapState('users', { areUsersLoading: 'isFindPending', isUserLoading: 'isGetPending' }),
    ...mapGetters('users', { findUsersInStore: 'find', getUserInStore: 'get' }),
    ...mapState('listing', { areListingsLoading: 'isFindPending', isListingLoading: 'isGetPending' }),
    ...mapGetters('listing', { findListingsInStore: 'find', getListingInStore: 'get' }),
    merchant() {
      return this.getUserInStore(this.$route.params.id)
    },
    listingQuery() {
      return {
        merchant: this.merchant._id
      }
    },
    listings() {
      return this.findListingsInStore({ query: this.listingQuery }).data
    },
  },
  data() {
    return {
      form: {
        quantity: 1,
      }
    }
  },
  methods: {
    ...mapActions('users', { findUsers: 'find', getUser: 'get', deleteUser: 'remove', patchUser: 'patch' }),
    ...mapActions('listing', { findListings: 'find', getListing: 'get', deleteListing: 'remove', patchListing: 'patch' }),
    clearQuantity() {
      this.quantity = 1
    },
    handleOk(bvModalEvt, orderItem) {
      bvModalEvt.preventDefault()
      if (!this.quantity) {
        alert('Please enter a quantity')
      }
      else {
        this.handleSubmit(bvModalEvt, orderItem)
      }
    },
    handleSubmit(e, orderItem) {
      this.user.cart.push(orderItem)
      this.$feathers.service('users').patch(this.user._id, this.user).then(() => {
        this.$nextTick(() => {
          this.$refs['modal-quantity-' + orderItem.listing][0].hide()
        })
      }).then(() => {
        this.$swal({
          icon: "success",
          title: "Added to cart",
          text: "This item was added to your cart!",
          buttons: false,
          timer: 2000
        });
      })
    }
  },
  created() {
    this.getUser(this.$route.params.id).then(() => {
      this.findListings({ query: this.listingQuery })
    })
  }
}
</script>

<style lang="scss">
.header-text {
  padding-left:10px;
  margin: 3px;
  color: #9C5555;
}
#bio {
  margin-top: 10px;
}
.red-bg-col {
  background-color: rgba(230, 194, 194, .2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
</style>
