<template>
<div class="container">
  <h1>Merchants</h1>
  <b-card-deck deck class="row">
    <div class="col-sm-4 py-2" v-for="user in users" :key="user._id">
      <b-card v-bind:img-src="user.store.imageUrl" class="item-card h-100">
        <router-link v-bind:to="'merchant/' + user._id" class="custom-card">
          <div class="card-body">
            <h4 class="card-title">{{user.store.name}}</h4>
            <p class="card-text">{{user.store.description}}</p>
          </div>
          <b-button v-bind:to="'merchant/' + user._id" variant="outline-info" href="#">
            Visit Store
          </b-button>
        </router-link>
      </b-card>
    </div>
  </b-card-deck>
</div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState('auth', ['user']),
    ...mapState('users', { areUsersLoading: 'isFindPending', isUserLoading: 'isGetPending' }),
    ...mapGetters('users', { findUsersInStore: 'find', getUserInStore: 'get' }),
    query() {
      return {
        isStore: true
      }
    },
    users() {
      return this.findUsersInStore({ query: this.query }).data
    },
  },
  methods: {
    ...mapActions('users', { findUsers: 'find', getUser: 'get', deleteUser: 'remove', patchUser: 'patch' }),
    onChange(id, data) {
      this.$feathers.service('users').patch(id, data)
    },

  },
  created() {
    this.findUsers({ query: this.query })

  }
}
</script>

<style>


h1 {
  margin-top: 12px;
}

.item-card {
  display:inline-block;
  margin: 5px;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

a.customcard {
  color: black;
    text-decoration: none;
}

.card button.add-to-cart {
  margin-top: 20px;
}

.cart-total {
  font-weight: bold;
}

.navbar button {
  margin-left: 10px;
}
</style>
