<template>
  <b-container>
    <b-row align-h="center">
      <b-col cols="4">
        <b-form @submit.prevent="onSubmit" id="login">
          <b-form-group id="storeNameInputGroup"
                        label="Store Name:"
                        label-for="storeName">
            <b-form-input id="storeName"
                          type="text" required=""
                          v-model="form.store.name">
            </b-form-input>
          </b-form-group>
          <b-form-group id="storeDescriptionInputGroup"
                        label="Store Description:"
                        label-for="storeDescription">
            <b-form-input id="storeDescription"
                          type="text" required=""
                          v-model="form.store.description">
            </b-form-input>
          </b-form-group>
          <b-form-group id="storePhoneInputGroup"
                        label="Store Phone Number:"
                        label-for="storePhone">
            <b-form-input id="storePhone"
                          type="number" required=""
                          v-model="form.store.phone">
            </b-form-input>
          </b-form-group>
          <b-form-group id="storeEmailInputGroup"
                        label="Store Email address:"
                        label-for="storeEmail">
            <b-form-input id="storeEmail"
                          type="email" required=""
                          v-model="form.store.email">
            </b-form-input>
          </b-form-group>
          <b-button type="submit" variant="info" block>Create Merchant Account</b-button>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  mounted() {
    if (this.user.isStore) {
      this.$router.push('/')
    }
  },
  computed: {
    ...mapState('auth', ['user'])
  },
  data() {
    return {
      form: {
        store: {
          name: '',
          description: '',
          phone: '',
          email: ''
        }
      }
    }
  },
  methods: {
    onSubmit() {
      this.registerStore(this.form)
      .then(() => {
        this.$swal("Store created!", "Your store has been created.", "success", {
          buttons: false,
          timer: 2000
        });
        this.$router.push('/')
      }, (error) => {
        this.$swal("Uh oh!", "There was a problem trying to create your store. Please try again.", "error", {
          buttons: false,
          timer: 2000
        });
        console.log(error)
      })
    },
    registerStore(payload) {
      return new Promise((resolve, reject) => {
        this.$feathers.service('users').patch(this.user._id, {...payload, isStore: true}).then(response => {
          resolve(response)
        }, error => {
          reject(error)
        });
      })
    }
  }
}
</script>

<style lang="scss">
#login {
  padding: 30px 0 15px
}
</style>
