<template>
    <b-container>
        <b-row>
            <b-col class="red-bg-col">
                <b-table :bind="isBusy" id="orders" striped bordered small hover :items="orderItems" :fields="fields">
                    <div slot="table-busy" class="text-center text-danger my-2">
                      <b-spinner class="align-middle"></b-spinner>
                      <strong>Loading...</strong>
                    </div>

                    <template slot="product_name" slot-scope="data">
                        {{ data.item.listing.name }}
                    </template>

                    <template slot="price" slot-scope="data">
                        {{ (data.item.listing.price/100).toLocaleString('en-US', {style:'currency', currency:'USD'}) }}
                    </template>


                    <template slot="shipping_info" slot-scope="data">
                        <a href="#" v-b-modal="'shipping-info-' + data.index">Shipping Info</a>
                        <b-modal
                          :id="'shipping-info-' + data.index"
                          :ref="'shipping-info-' + data.index"
                          title="Shipping Info">
                            <span>{{ data.item.customer.fname }} {{ data.item.customer.lname }}</span><br>
                            <span>{{ data.item.shippingAddress.street }}</span><br>
                            <span>{{ data.item.shippingAddress.city }}, {{ data.item.shippingAddress.state }} {{ data.item.shippingAddress.zip }}</span>
                        </b-modal>
                    </template>
                </b-table>
            </b-col>
        </b-row>
    </b-container>
</template>

<style lang="scss">
.red-bg-col {
  background-color: rgba(230, 194, 194, .2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
#orders {
    margin-top: 10px;
}
</style>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  data: () => {
    return {
      isBusy: false,
      fields: [
        { key: "date", Label: 'Order Date' },
        { key: "product_name", Label: 'Product Name' },
        { key: "quantity", Label: 'Quantity' },
        { key: "price", Label: 'Price' },
        { key: "shipping_info", Label: ''}
      ],
      orderItems: [],
    }
  },
  computed: {
    ...mapGetters('listing', { findListingsInStore: 'find', getListingInStore: 'get' }),
    ...mapGetters('users', { findUsersInStore: 'find', getUserInStore: 'get' }),
    ...mapGetters('order', { findOrdersInStore: 'find', getOrderInStore: 'get' }),
    ...mapState('auth', ['user']),
    query() {
      return {}
    }
  },
  methods: {
    ...mapActions('listing', { findListings: 'find', getListing: 'get', deleteListing: 'remove', patchListing: 'patch' }),
    ...mapActions('order', { findOrders: 'find', getOrder: 'get', deleteOrder: 'remove', patchOrder: 'patch' }),
    ...mapActions('users', { findUsers: 'find', getUser: 'get', deleteUser: 'remove', patchUser: 'patch' }),

    formatPrice(val) {
      val /= 100;
      return val.toLocaleString("en-US", {style:"currency", currency:"USD"});
    }
  },
  mounted() {
    if (!this.user.isStore) {
      this.$router.push('/')
    }
  },
  async created() {
    this.isBusy = true
    await this.findListings({ query: this.query })
    await this.findOrders({ query: this.query })
    await this.findUsers({ query: this.query })

    this.findOrdersInStore({ query: this.query }).data.forEach((o) => {
      o.cart.forEach((oi) => {
        let listing = this.getListingInStore(oi.listing)
        let customer = this.getUserInStore(o.user)
        if (listing.merchant == this.user._id) {
          this.orderItems.push({_id: oi._id, date: o.updatedAt, quantity: oi.quantity, listing: listing, shippingAddress: o.shippingAddress, customer: customer})
        }
      })
    })
    this.isBusy = false
  }
}
</script>
