<template>
    <b-container fluid class="page-container">
        <b-row>
            <b-col>
                <h2 class="header-text text-center">Mai Kai</h2>
            </b-col>
            <b-col cols="8">
                <b-input-group>
                    <b-form-input id="search-bar" class="search" placeholder="Search..."></b-form-input>
                    <b-input-group-append>
                        <b-button class="search">Search</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-col>
            <b-col cols="2"></b-col>
        </b-row>
        <b-row>
            <b-col cols="2"></b-col>
            <b-col id="product-container" cols="9">
                <div id="cards">
                    <b-card-group columns>
                        <b-card inline v-for="potato in blah"
                            title="Trash Product"
                            img-src="https://picsum.photos/600/300/?image=25"
                            img-alt="Image"
                            img-top
                            tag="product"
                            style="max-width: 15rem;"
                            class="mb-2"
                        >
                            <b-card-text>
                            Buy this trash.
                            </b-card-text>

                            <b-button href="#" variant="primary">Purchase Garbage</b-button>
                        </b-card>
                    </b-card-group>
                </div>
            </b-col>
            <b-col></b-col>
        </b-row>
    </b-container>
</template>

<style lang="scss">
.header-text {
  padding-left:10px;
  margin: 3px;
  color: #9C5555;
}
#search-bar {
    background-color: rgba(230, 194, 194, .05);
}
.search {
    margin-top: 6px;
}
#product-container {
  background-color: rgba(230, 194, 194, .2);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.card-columns {
    -webkit-column-count: 4 !important;
    column-count: 4 !important;
}
</style>

<script>
export default {
  name: 'Store',
  data: () => {
    return {
      blah: [
          {},
          {},
          {},
          {},
          {},
          {},
          {},
          {},
          {},
          {}
      ]
    }
  }
}
</script>