<template>
  <div>
    <b-table striped hover :items="users" :fields="fields" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc">

      <template slot="_id" slot-scope="data">
        <b-link v-on:click="deleteUser(data.item._id)">x</b-link>
      </template>

      <template slot="isAdmin" slot-scope="data">
        <b-form-checkbox @change="onChange(data.item._id, { isAdmin: !data.item.isAdmin })" v-model="data.item.isAdmin" />
      </template>

    </b-table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState('auth', ['user']),
    ...mapState('users', { areUsersLoading: 'isFindPending', isUserLoading: 'isGetPending' }),
    ...mapGetters('users', { findUsersInStore: 'find', getUserInStore: 'get' }),
    query() {
      return {}
    },
    rewards() {
      return this.findRewardsInStore({ query: this.query }).data
    },
    users() {
      return this.findUsersInStore({ query: this.query }).data
    },
  },
  data() {
    return {
      sortBy: 'ulid',
      sortDesc: false,
      fields: [
        { key: '_id', label: 'Delete' },
        { key: 'email', sortable: true },
        { key: 'fname', sortable: true },
        { key: 'lname', sortable: true },
        { key: 'createdAt', sortable: true },
        { key: 'updatedAt', sortable: true },
        { key: 'isAdmin', sortable: true },
      ]
    }
  },
  methods: {
    ...mapActions('users', { findUsers: 'find', getUser: 'get', deleteUser: 'remove', patchUser: 'patch' }),
    onChange(id, data) {
      this.$feathers.service('users').patch(id, data)
    }
  },
  created() {
    this.findUsers({ query: this.query })

  }
}
</script>
